name: Build 

on: [push]

jobs:
  build:
    
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        example:
          - "examples/arduino-blink_rgb"
#          - "examples/arduino-external-libs"
        var: [arduino-blink_rgb]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}


      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"


      - name: Install dependencies
        run: |
          pip install -U https://github.com/platformio/platformio/archive/develop.zip
          pio pkg install --global --platform symlink://.


      - name: Build examples
        run: |
          pio run -d ${{ matrix.example }}

      - name: Push Build
        run: |
          mkdir -p out/
          mv -b ${{matrix.example}}/.pio/build/pico/firmware.uf2 out/${{matrix.var}}.firmware.uf2
          date > generated
          git config user.name github-actions
          git config user.email github-actions@github.com
          if git diff --exit-code; then
             git add out/
             git commit -am "GH Action Files added $(date)"
             git push 
          fi
